/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  "primary": #a7a9ac,
  "secondary": #f7e4e5,
  "accent": #e5c6c1,
  "call": #a7a9ac,
  "dark": #4f4f4f,
  "text": #4f4f4f
);

$font-family-secondary: "Lato", sans-serif;
$font-family-base: "Montserrat", serif;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
